header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	div{
		flex: 1
	}
}
h1{
	text-align: center;
	color: #666;
	text-align: center;
	flex: 1;

}
.imgindex{
	width: 100%;
}
.article{
	display: flex;
	flex-direction: column;
	width: 60%;
	margin: auto;
	padding:10px;
	


}
.filtre{
	text-align: center;
}
